<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Le Sablier des Sorciers</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/app.css">
</head>

<body>

  <div id="wrapper">
    <h1>Poudlard' Ados · <span id="room-name"></span></h1>
    <div id="btns_go">
      <button id="btn_go_rooms"  data-go=""  class="btn_go selected" title="Voir toutes les salles">Tableau de bord</button>
      <button id="btn_go_room_A" data-go="A" class="btn_go" title="Voir la salle A">Salle A</button>
      <button id="btn_go_room_B" data-go="B" class="btn_go" title="Voir la salle B">Salle B</button>
    </div>
    <div id="clock_wrapper">
      <div id="clock_inner_wrapper">
        <div id="clock">
          <span id="min">00</span>
          <span id="dot">:</span>
          <span id="sec">00</span>
        </div>
      </div>
    </div>
    <div id="btns_cmd">
      <button id="btn_cmd_start" data-cmd="START" class="btn_cmd" title="Lancer le compteur">Start</button>
      <button id="btn_cmd_pause" data-cmd="PAUSE" class="btn_cmd" title="Mettre en pause le compteur">Pause</button>
      <button id="btn_cmd_reset" data-cmd="RESET" class="btn_cmd" title="Remettre à zéro le compteur">Reset</button>
    </div>
  </div>

  <script>
    var settings = settings || [];
    settings.server = '//<%= ws_host %>:<%= ws_port %>';
    settings.room = '<%= room %>';
    settings.room = settings.room.toUpperCase();
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module">
    import {init} from './js/app.mjs';
    document.addEventListener('DOMContentLoaded', () => {
      init();
    });
  </script>
</body>

</html>
